<title>What's TailwindCSS?</title>
<content>
    <blockquote>
        <p>Tailwind CSS is a highly customizable, low-level CSS framework that gives you all of the building blocks
            you need to build bespoke designs without any annoying opinionated styles you have to fight to override.</p>
        <cite>— tailwind</cite>
    </blockquote>

    <p>Some key points :</p>
    <ul>
        <li><strong>Consistency :</strong> the whole point of having a framework is to use the classes already built and
            provided to you.
            This enforce a certain harmony both in your code and in the layout itself.</li>
        <li><strong>Utility-First :</strong> Means utility classes are used. <em>Low-Level</em> references the
            utilities that
            do basic,
            low-level CSS tasks. Another used term is <em>Atomic CSS</em>, referencing the smallest unit you can use.
            All the
            classes
            here represent a utility. Example :<br>
            <pre class="language-markup" lang="HTML"><code class="language-markup">
&lt;div class="relative bg-light block h-1 w-full rounded overflow-hidden"></div></code></pre>
            <pre class="language-css" lang="CSS"><code class="language-css">
.relative {
    position: relative;
}
.overflow-hidden {
    overflow: hidden;
}
.h-1 {
    height: 10px;
}
.block {
    display: block;
}
.rounded {
    border-radius: 0.25rem;
}
.bg-light {
    background-color: var(--color-light);
}</code></pre>
        </li>
        <li>
            <strong>Customizable :</strong> unlike Bootstrap, Tailwind is customizable at the core. You load all
            the
            components you need, build your own CSS and can even clean the final rendering depending on what you
            actually used! The <code class="language-bash">tailwind.config.js</code> file already allows to modify the
            core utilities to your needs, add plugins to handle complex behaviors (such as selection, hover,
            group-hover, etc..)
        </li>
        <li>
            <strong>Practical :</strong> as all frameworks should be, Tailwind is very practical. Things make quickly
            sense when you're
            trying to navigate through the different classes and options. You can find solutions to almost all the CSS
            problems
            you might face using either utility or simple CSS as a backup.
        </li>
        <li>
            <strong>Naming :</strong> although you will most likely always add your own classes, the fact you won't need
            to name every
            element means you will also be less subject to naming errors and inconsistencies. It also allows you to
            spend time on more important matters.
        </li>
        <li>
            <strong>Core Responsiveness :</strong> like most next-gen frameworks, Tailwind is fully responsive. You can
            use simple classes
            to define different behaviors depending on the viewport. Example :<br>
            <pre class="language-markup" lang="HTML"><code class="language-markup">
&lt;div class="w-full md:w-1/2 xl:w-1/3 p-1 md:p-2"></div></code></pre>
            <pre class="language-css" lang="CSS"><code class="language-css">
/* Small screens */
.w-full {
    width: 100%;
}
.p-1{
    padding: 10px
}
/* Medium+ screens */
@media (min-width: 768px){
    .md\:w-1\/2{
        width: 50%
    }
    .md\:p-2{
        padding: 20px
    }
}
@media (min-width: 1280px){
    .xl\:w-1\/3{
        width: 33.333333%
    }
}</code></pre>
        </li>
    </ul>
</content>