<title>Comes with friends...</title>
<content>
    <p>Although you can use Tailwind alone, I highly recommend using <em>PostCSS</em> + <em>LaravelMix</em> in your
        development process. This will obviously make
        your project a little more complex (at least in the beginning) but will allow you to preprocess all your assets
        and output only what you need. Like any preprocessors, you will have proper debugging on your CSS, a watch
        builder, etc..
    </p>
    <ul>
        <li><strong>PostCSS :</strong> a JS tool for transforming the CSS, from minifying, purging, adding
            auto-prefixers, etc.. It will also read its own <code class="language-markup">.pcss</code> files. Combined
            with plugins
            like <code class="language-markup">postcss-nested</code>, it will allow
            you to write your CSS the same way as in SASS. Or you can add <code
                class="language-markup">postcss-scss</code> and just compile the SCSS files
            with then <em>Laravel Mix</em>.</li>
        <li><strong>PurgeCSS :</strong> used in pair with <em>PostCSS</em>, will help purging all the unused CSS
            classes.
            Powerful for reducing your stylesheet size at most!</li>
        <li><strong>Laravel Mix :</strong> a JS Webpack Asset Compilator that will help pre-processing everything and
            render outputs using your
            options</li>
    </ul>
    <p>One could ask : <em>does the use of all those new tools impact my dev tree? or dev process?</em> to which I'd
        answer
        <em>yes</em>. 🤓</p>

    <p>More seriously, it IS definitely a new approach and comes with a new methodology. But they are mostly based on
        known
        concepts (JS, CSS-utilities, Webpack) and are really easy to grasp.</p>
</content>