<title>Tailwind VS others</title>
<content>
    <p>The strengths and weaknesses of Tailwind can be compared with other known tools and frameworks. While speaking of
        Tailwind alone would be quite inaccurate (as tools described so far are efficient as a whole), the same should
        be
        done with the "competitors".</p>
    <p>There are tons more frameworks and some that would be worth mentioning (such as Tachyons, Materialize, etc) but
        most
        of the time, they are clones of known frameworks with less/more functionalities. The following 2 frameworks are
        both
        used in our current sites.</p>
    <p><em>Note that any stylesheet can be used with PurgeCSS, but they are not recommended in the default
            development process</em>
    </p>
    <hr>
    <ul>
        <li><strong>Bootstrap :</strong> the most famous and used framework in the Frontend industry (used in some of
            our Drupal 7 sites).
            Probably also one of the heaviest and misused as well. Bootstrap on its own does too much and is way too
            rigid. It
            is customizable when used with SASS for example but has the nasty habit to need dependencies for small
            components.
            Bootstrap gives some nice utilities but its rigidity on many levels make it a little too heavy to overwrite.
            Another
            problem with Bootstrap is the <em>mandatory</em> HTML structure.
            <ul class="pros">
                <li>v4.5 + (strong community, stability)</li>
                <li>JS + Icons Libraries</li>
                <li>Modulable</li>
            </ul>
            <ul class="cons">
                <li>JS Libraries :D (better libraries in the open world)</li>
                <li>Heavy</li>
                <li>Very rigid</li>
            </ul>
        </li>
        <li><strong>Pure :</strong> Used in at least 2 of our internal projects (DCMS, Drupal 8), Pure is another
            library/framework helping
            with your layout, simplifying the architecture and the responsiveness for it. Very basic, its major asset
            lies within its weight. One of the lightest libraries available. But that comes with a price : it cannot do
            a lot compared to Bootstrap or even Tailwind.
            <ul class="pros">
                <li>Lightweight</li>
                <li>Easy grid layout building</li>
                <li>Modulable</li>
            </ul>
            <ul class="cons">
                <li>Too basic</li>
                <li>No responsive help (except grid layouts)</li>
                <li>Counterintuitive classes</li>
            </ul>
        </li>
        <li><strong>Tailwind :</strong> Powerful and fully customizable, Tailwind is perfect for Frontend developers who
            are bored with the
            current framework choices for building their app/sites. Due to its overly customizable core, it can be as
            powerful
            as Bootstrap, as light as Pure and can provide more functionalities like the responsive classes, giving a
            real
            "frontend" handover. The principle of core utility classes is properly used (unlike the 2 other frameworks
            that
            incorporate a whole HTML structure within) and even more so in your custom stylesheet itself. Rather new,
            the
            framework has a bunch of other tools gravitating around such as <a href="https://tailwindui.com/"
                target="_blank">Tailwind UI</a> or
            <a href="https://tailwindcomponents.com/" target="_blank">Tailwind Components</a>.
            <ul class="pros">
                <li>Responsive core classes (♥️)</li>
                <li>Refreshing coding style</li>
                <li>Adaptive (from dev to prod)</li>
                <li>Basic layout to fully customizable</li>
                <li>Modulable</li>
            </ul>
            <ul class="cons">
                <li>Needs PostCSS for better use</li>
                <li>For intermediate-pro CSS devs</li>
            </ul>
        </li>
    </ul>
    <p class="text-xs text-center">(and yes, it is 100% biased 😉 )</p>
</content>