<classes>text-center</classes>
<title>Questions?</title>
<content>
    <p><em>Tailwind offers the following benefits :</em></p>
    <ul class="w-auto">
        <li>Writing your styles directly in your HTML structure</li>
        <li>Consistency throughout the whole project</li>
        <li>A way to adjust your layout directly from the browser, effortlessly</li>
        <li>Powerful utilities</li>
        <li>A complete customization of the code</li>
    </ul>
    <img class="block mx-auto mt-4 mb-2 shadow-lg w-1/4" src="../images/kitten-tech.jpg" />
    <div class="inline-block text-left mx-auto text-xs text-main">
        <em class="block">- "Look, it's a new CSS framework based on utilities!"</em>
        <em class="block">- "Meow?" ( <code class="language-css">.Meow\?{ cute: 100%; }</code> )</em>
    </div>
</content>