<title>Basic Setup</title>
<content>
    <p>The easiest way to use Tailwind, without necessarily installing PostCSS or Laravel Mix, is to simply install it
        via npm or yarn. Example :</p>
    <pre class="language-bash" lang="bash"><code class="language-bash">
# Using npm
npm install tailwindcss

# Using Yarn
yarn add tailwindcss</code></pre>
    <p>Once done, you can initiate a config file using the newly installed command line (optional) :</p>
    <pre class="language-bash" lang="bash"><code class="language-bash">
npx tailwindcss init</code></pre>

    <p>With or without the config file, you will be able to start using the Tailwind directives inside your CSS files.
        Those CSS files will need to be processed in order to be valid though!</p>
    <p>Here's an example of Tailwind components injection :</p>
    <pre class="language-css" lang="CSS"><code class="language-css">
@tailwind base;

@tailwind components;

@tailwind utilities;</code></pre>
    <p>The <code class="language-css">@tailwind base</code> directive corresponds to a CSS <code
            class="language-css">@import 'tailwindcss/base';</code></p>
    <p>Then you will just need to process those CSS pages with Tailwind command line :</p>
    <pre class="language-bash" lang="bash"><code class="language-bash">
npx tailwindcss build styles.css -o output.css</code></pre>
</content>