<title>Full Setup (Builder)</title>
<content>
    <p>Recommended by the Tailwind team, the use of PostCSS as a CSS processor and Laravel-Mix as a compiler/builder is
        a must. Obviously, they are not mandatory and you can use the already existing builder from your project (should
        it be Gulp, Webpack or simply PostCSS itself)
    </p>
    <p><em>Note that all the solutions below include PostCSS as a processor for
            Tailwind. I assume it is due to a perfect integration of the plugin and the stability of PostCSS
            itself.</em></p>
    <hr>
    <ul>
        <li class="mb-4"><strong>Laravel-Mix :</strong> Depending on wether you will use plain CSS or preprocessors like
            LESS or SASS, here's how to configure your <code class="language-bash">webpack.mix.js</code> depending on
            your liking :<br>
            <pre class="language-javascript" lang="+ PostCSS"><code class="language-javascript">
mix.postCss('resources/css/main.css', 'public/css', [
    require('tailwindcss'),
]);</code></pre>
            <pre class="language-javascript" lang="+ LESS"><code class="language-javascript">
const tailwindcss = require('tailwindcss');

mix.less('resources/less/app.less', 'public/css')
.options({
    postCss: [
        tailwindcss('./path/to/your/tailwind.config.js'),
    ]
});</code></pre>
            <pre class="language-javascript" lang="+ SASS"><code class="language-javascript">
const tailwindcss = require('tailwindcss');

mix.sass('resources/sass/app.scss', 'public/css')
.options({
    processCssUrls: false,
    postCss: [ tailwindcss('./path/to/your/tailwind.config.js') ],
});</code></pre>
        </li>
        <li class="mb-4"><strong>Webpack :</strong> One of the most popular builder, Webpack is easy to configure and
            setup. To work
            with PostCSS and Tailwind is a piece of cake! First, if you are using PostCSS, you will need to declare the
            config file <code class="language-bash">postcss.config.js</code> and add <em>tailwindcss</em> as a plugin
            :<br>
            <pre class="language-javascript" lang="postcss.config.js"><code class="language-javascript">
module.exports = {
    plugins: [
        // ...
        require('tailwindcss'),
        require('autoprefixer'), // Another reason to use PostCSS
        // ...
    ]
}</code></pre>
            You can also load it all directly in a webpack config file (<code
                class="language-bash">webpack.config.js</code>) by using the <em>postcss-loader</em>
            like so :<br>
            <pre class="language-javascript" lang="webpack.config.js"><code class="language-javascript">
// webpack.config.js
module.exports = {
    // ...
    module: {
    rules: [
        {
        // ...
        use: [
            // ...
            {
            loader: 'postcss-loader',
            options: {
                ident: 'postcss',
                plugins: [
                require('tailwindcss'),
                require('autoprefixer'),
                ],
            },
            },
        ],
        }
    ],
    }
}</code></pre>
        </li>
        <li class="mb-4"><strong>Gulp :</strong> Tania's favorite, Gulp is a powerful JS toolkit/builder that helps
            organizing your assets. Here's the config for a usage with PostCSS, once more, with the plugin
            <em>gulp-postcss</em> :<br>
            <pre class="language-javascript" lang="gulpfile.js"><code class="language-javascript">
gulp.task('css', function () {
    const postcss = require('gulp-postcss');
    
    return gulp.src('src/styles.css')
        // ...
        .pipe(postcss([
            // ...
            require('tailwindcss'),
            require('autoprefixer'),
            // ...
        ]))
        .pipe(gulp.dest('build/'));
});</code></pre>
        </li>
    </ul>
</content>