<title>Full Setup (NPM)</title>
<content>
    <p>Once all the configuration is done, you will need to handle the node package part. Depending on your builder and
        on your project configuration, you might need a different NPM setup. Here's the <code
            class="language-bash">package.json</code> used for this presentation :</p>
    <pre class="language-json" lang="json"><code class="language-json">
{
    "private": true,
    "scripts": {
        "build": "npm run dev",
        "dev": "cross-env NODE_ENV=development node_modules/webpack/bin/webpack.js --progress --hide-modules --config=node_modules/laravel-mix/setup/webpack.config.js",
        "development": "npm run dev",
        "prod": "npm run production",
        "production": "cross-env NODE_ENV=production node_modules/webpack/bin/webpack.js --progress --hide-modules --config=node_modules/laravel-mix/setup/webpack.config.js",
        "watch": "cross-env NODE_ENV=development node_modules/webpack/bin/webpack.js --watch --progress --hide-modules --config=node_modules/laravel-mix/setup/webpack.config.js"
    },
    "dependencies": {
        "cross-env": "^5.2.0",
        "jquery": "^3.5.1",
        "laravel-mix": "^2.1.14",
        "laravel-mix-purgecss": "^4.1.0",
        "postcss-nested": "^4.2.3",
        "prismjs": "^1.21.0",
        "tailwindcss": "^1.0.1"
    }
}</code></pre>
    <p>It references all the important scripts to load from npm with the <code class="language-bash">npm install</code>
        and gives dev/watch/production scripts (<code class="language-bash">npm run dev;</code> <code
            class="language-bash">npm run watch;</code> <code class="language-bash">npm run production;</code> ) to help
        building your output CSS in the best way possible (clean, light, minimized and ready for production, for
        example) while logging any error (building error or syntax error).
    </p>
</content>