<classes>text-center</classes>
<title>Questions?</title>
<content>
    <p><em>The full setup process has the following steps :</em></p>
    <ul class="w-auto">
        <li>Pick your project architecture, your builder, preprocessor</li>
        <li>Setup your builder with the plugins and options </li>
        <li>Setup Tailwind's basics</li>
        <li>Add some npm commands to easily build or watch your output</li>
        <li>You can use Tailwind utilities directly on your HTML structure or in your stylesheet</li>
    </ul>
    <img class="block mx-auto mt-4 shadow-md" src="../images/worktree-init.png" />
    <em class="text-xs">Basic worktree example</em>
</content>