<classes>text-center</classes>
<title>Important Links</title>
<content>
    <p><em>Here's a non-exhaustive list of important links :</em></p>
    <ul class="w-auto">
        <li><a href="https://tailwindcss.com/docs/" target="_blank">TailwindCSS — documentation</a><small> : all the
                important documentation</small></li>
        <li><a href="https://tailwindcss.com/course/" target="_blank">TailwindCSS — courses</a><small> : free training
                videos</small></li>
        <li><a href="https://tailwindcss.com/docs/pseudo-class-variants#default-variants-reference"
                target="_blank">TailwindCSS — default variants reference</a><small> : keep track of default
                references</small></li>
        <li><a href="https://tailwindcss.com/docs/customizing-spacing#default-spacing-scale" target="_blank">TailwindCSS
                — default spacing scale</a><small> : keep track of default spacing/margins/paddings</small></li>
        <li><a href="https://tailwindcomponents.com/" target="_blank">Tailwind Components</a><small> : free components
                repository</small></li>
        <li><a href="https://tailwindui.com/" target="_blank">Tailwind UI</a><small> : free and professional components
                and layouts</small></li>
        <li><a href="https://tailwind.build/" target="_blank">Tailwind Builder</a><small> : (paid subscription) online
                builder</small></li>
        <li><a href="https://laravel-mix.com/" target="_blank">Laravel-Mix</a><small> : laravel mix main site</small>
        </li>
        <li><a href="https://laravel-mix.com/extensions/tailwindcss" target="_blank">Laravel-Mix — tailwind</a><small> :
                tailwind extension for laravel-mix</small>
        </li>
        <li><a href="https://purgecss.com/" target="_blank">PurgeCSS</a><small> : the documentation for PurgeCSS (note
                that purge is a inner Tailwind option)</small></li>
    </ul>
</content>