/* --- VARIABLES --- */
:root{
    --font-sans: 'Work Sans', Geneva, Verdana, sans-serif;
    --font-mono: monospace;
    --color-default: #003534;
    --color-main: #52B8B5;
    --color-secondary: var(--color-default);
    --color-light: #F3EADA;
    --color-highlight: #BD0061;
    --bg-color-1: var(--color-light);
    --bg-color-2: #eae5da;
    --bg-color-3: var(--bg-color-2);
    --bg-color-title-1: var(--color-main);
    --bg-color-title-2: var(--color-secondary);
    --mg-main: 60px;
    --color-invalid: #f94949;
    --color-valid: #6ad846;
}
/* --- GLOBAL STYLING --- */
html{
    font-size: 24px;
    @apply font-light;
}
*{
    @apply duration-200 transition;
}
body{
    @apply bg-clip-padding m-0 font-sans p-1 text-default;
    background: linear-gradient(45deg, rgb(0,0,0) 0%, rgb(15,15,15) 100%);
}
h1,h2,h3,h4,h5{
    @apply relative font-bold text-light uppercase tracking-wide -mt-6 -mr-6 mb-6 -ml-6;
    text-shadow: -2px 2px 5px rgba(0,0,0,.2);
}
h1>span,
h2>span,
h3>span{
    @apply relative z-10;
}
h1:before,
h2:before,
h3:before{
    content: '';
    @apply absolute top-0 bottom-0 left-0 right-0 opacity-75;
    background-image: linear-gradient(90deg, var(--bg-color-title-1),var(--bg-color-title-2));
    background-size: 200% 200%;
    background-position: 50% 0;
    animation: titleEffect 10s ease-out forwards;
}
h1{
    font-size: 7vmax;
    padding: 15vh 0;
}
.full-title h1{
    @apply absolute top-0 bottom-0 left-0 right-0 p-0 m-0 flex items-center justify-center;
}
h2{
    @apply px-2;
    font-size: 5vmax;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
h3{
    @apply p-1;
}
h3 a,
h3 a:visited,
h3 a:active{
    @apply text-light no-underline;
}
h3 a:hover{
    @apply text-highlight;
}
h3 a,
h3 small{
    @apply inline-block align-middle;
}
h3 small{
    @apply normal-case font-medium;
}
small{
    @apply text-sm;
    small{
        @apply text-xs;
    }
}
a,
a:visited,
a:active{
    @apply text-secondary;
}
a:hover{
    @apply text-main;
}
img{
    @apply max-w-full h-auto inline-block;
}
ul,ol{
    @apply block m-0 text-left w-3/4 ml-4 ;
}
ul{
    @apply list-none p-0;
}
ul > li,
ol > li{
    @apply mb-2;
}
ul > li:before{
    content:'';
    @apply -ml-2 mr-1 w-1 h-1 bg-main text-white rounded-full inline-block align-middle;
}
ul > li > ul{
    @apply mt-2 ml-4;
}
ul > li > ul > li:before{
    @apply bg-transparent border border-solid border-main;
}
ul{
    &.pros,
    &.cons{
        > li:before{
            @apply text-center text-current font-bold border-none text-sm w-auto h-auto;
        }
    }
    &.pros{
        >li:before{
            content: '+';
        }
    }
    &.cons{
        > li:before{
            content: '-';
        }
    }
    :not(li) > &.pros,
    :not(li) > &.cons{
        > li:before{
            @apply text-white;
            height: 14px;
            width: 14px;
            font-size: 12px;
        }
    }

}
::selection {
    @apply bg-highlight text-light;
}
em{
    @apply font-medium;
}
hr{
    @apply my-4;
}
/* --- HELPERS --- */
.text-center h3{
    @apply text-left;
}
.text-center ul{
    @apply inline-block mx-auto text-left;
}
.text-center ul ul{
    @apply ml-4 mr-0;
}
/* --- CODE BLOCK --- */
pre[class*="language-"]{
    @apply relative border-0 border-l-10 border-solid border-secondary text-xs shadow-lg my-2;
    max-height: 50vh;
}
pre[class*="language-"] code[class*="language-"]{
    @apply text-xs;
}
pre[class*="language-"][lang]:before{
    @apply absolute top-1 left-2 font-sans text-light opacity-25;
    max-width: 50%;
    content: '{' attr(lang) '}';
}
pre[class*="language-"][comment]:after{
    @apply absolute text-main opacity-50 top-1 right-2;
    content: attr(comment);
}
pre[class*="language-"][valid]{
    @apply border-valid;
}
pre[class*="language-"][valid]:after{
    @apply text-valid;
    content: attr(comment) 	" \2714";
}
pre[class*="language-"][invalid]{
    @apply border-invalid;
}
pre[class*="language-"][invalid]:after{
    @apply text-invalid;
    content: attr(comment) 	" \2718";
}
pre[class*="language-"]::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 2px;
}
pre[class*="language-"]::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
pre[class*="language-"]::-webkit-scrollbar-thumb {
    @apply bg-highlight;
    border-radius: 2px;
}

:not(pre) > code[class*="language-"]{
    @apply text-xs px-1 shadow-md;
}
/* --- BLOCKQUOTE --- */
blockquote{
    @apply inline-block mb-4 p-4 pb-2 bg-white border-0 border-l-10 border-solid border-main shadow-lg;
}
blockquote p{
    @apply relative my-0 text-lg;
}
blockquote p:before,
blockquote p:after{
    @apply absolute leading-none text-secondary text-5xl;
}
blockquote p:before{
    content: open-quote;
    @apply -left-2 -top-4;
}
blockquote p:after{
    content: close-quote;
    @apply right-0 -bottom-4;
}
blockquote cite{
    @apply block ml-1 mt-1 font-medium text-right;
}
/* --- TABLE OF CONTENTS --- */
.table-contents{
    @apply w-auto m-auto pl-0 text-left inline-block font-normal text-main text-2xl;

}
.table-contents li{
    @apply mb-4;
}
.table-contents li a{
    @apply relative no-underline;
}
/* --- SLIDER STYLING --- */
@keyframes titleEffect{
    0%{
        background-position: 0% 0;
    }
    100%{
        background-position: 100% 0;
    }
}
@keyframes slideToBottomFadeIn{
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideToTopFadeIn{
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideToLeftFadeIn{
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideToRightFadeIn{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideFadeIn{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes pulse{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.slider{
    @apply relative m-0 rounded-md py-0 px-9 overflow-hidden;
    width: calc(100% - 180px);
    height: calc(100vh - 20px - 2px);
}
.slider-control{
    @apply absolute top-0 bottom-0 left-0 right-auto w-6 opacity-0 z-20 no-underline flex items-center justify-center;
    background: linear-gradient(to right, rgba(0,0,0,.15) 0%, transparent 50%);
    font-size: 60px;
}
.slider-control:before{
    content: '';
    @apply absolute w-2 h-2 border-2 border-solid border-main border-t-0 border-l-0;
    transform: rotate(135deg);
}
.slider-control:hover{
    @apply opacity-100;
}
.slider-control.next{
    @apply left-auto right-0;
    background: linear-gradient(to right, transparent 50%, rgba(0,0,0,.15) 100%);
}
.slider-control.next:before{
    @apply transform -rotate-45;
}
.slide{
    @apply absolute top-0 bottom-0 left-0 right-0 p-6 z-10 opacity-0 overflow-x-hidden overflow-y-scroll bg-slide;
}
.slide::-webkit-scrollbar {
    width: 4px;
    border-radius: 2px;
}
.slide::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.slide::-webkit-scrollbar-thumb {
    @apply bg-highlight;
    border-radius: 2px;
}
.slide:target ~ .slide:last-of-type,
.slide{
    @apply hidden;
}
.slide:last-of-type,
.slide:target{
    @apply block;
    animation: slideToRightFadeIn 200ms ease-in 5ms 1 forwards;
}
.slide:target ~ .slide:last-of-type>.slider-control,
.slide>.slider-control{
    @apply hidden;
}
.slide:last-of-type>.slider-control,
.slide:target>.slider-control{
    @apply flex;
}
.slide.scrollable.scroll-indicator:after{
    @apply block fixed bottom-1 right-1 w-0 h-0 border-solid pointer-events-none opacity-0;
    content: '';
    border-width: 17.3px 10px 0 10px;
    border-color: var(--color-highlight) transparent transparent transparent;
    animation: pulse 2s ease-out 2s infinite alternate;
}
/* --- SLIDER OPTIONS --- */
.slider.fade-in .slide:last-of-type,
.slider.fade-in .slide:target{
    animation: slideFadeIn 200ms ease-in 5ms 1 forwards;
}
.slider.slide-in.horizontal.to-right .slide:last-of-type,
.slider.slide-in.horizontal.to-right .slide:target{
    animation: slideToRightFadeIn 200ms ease-in 5ms 1 forwards;
}
.slider.slide-in.horizontal.to-left .slide:last-of-type,
.slider.slide-in.horizontal.to-left .slide:target{
    animation: slideToLeftFadeIn 200ms ease-in 5ms 1 forwards;
}
.slider.slide-in.vertical.to-top .slide:last-of-type,
.slider.slide-in.vertical.to-top .slide:target{
    animation: slideToTopFadeIn 200ms ease-in 5ms 1 forwards;
}
.slider.slide-in.vertical.to-bottom .slide:last-of-type,
.slider.slide-in.vertical.to-bottom .slide:target{
    animation: slideToBottomFadeIn 200ms ease-in 5ms 1 forwards;
}
.slider.gradient .slide{
    background-image: linear-gradient(to right, var(--bg-color-1), var(--bg-color-2), var(--bg-color-3)); 
}
.slider.seigaiha .slide{
    background-image:
    radial-gradient(circle at 100% 150%, var(--bg-color-1) 24%, var(--bg-color-2) 24%, var(--bg-color-2) 28%, var(--bg-color-1) 28%, var(--bg-color-1) 36%, var(--bg-color-2) 36%, var(--bg-color-2) 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, var(--bg-color-1) 24%, var(--bg-color-2) 24%, var(--bg-color-2) 28%, var(--bg-color-1) 28%, var(--bg-color-1) 36%, var(--bg-color-2) 36%, var(--bg-color-2) 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, var(--bg-color-2) 10%, var(--bg-color-1) 10%, var(--bg-color-1) 23%, var(--bg-color-2) 23%, var(--bg-color-2) 30%, var(--bg-color-1) 30%, var(--bg-color-1) 43%, var(--bg-color-2) 43%, var(--bg-color-2) 50%, var(--bg-color-1) 50%, var(--bg-color-1) 63%, var(--bg-color-2) 63%, var(--bg-color-2) 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, var(--bg-color-2) 5%, var(--bg-color-1) 5%, var(--bg-color-1) 15%, var(--bg-color-2) 15%, var(--bg-color-2) 20%, var(--bg-color-1) 20%, var(--bg-color-1) 29%, var(--bg-color-2) 29%, var(--bg-color-2) 34%, var(--bg-color-1) 34%, var(--bg-color-1) 44%, var(--bg-color-2) 44%, var(--bg-color-2) 49%, transparent 49%, transparent),
    radial-gradient(circle at 0    50%, var(--bg-color-2) 5%, var(--bg-color-1) 5%, var(--bg-color-1) 15%, var(--bg-color-2) 15%, var(--bg-color-2) 20%, var(--bg-color-1) 20%, var(--bg-color-1) 29%, var(--bg-color-2) 29%, var(--bg-color-2) 34%, var(--bg-color-1) 34%, var(--bg-color-1) 44%, var(--bg-color-2) 44%, var(--bg-color-2) 49%, transparent 49%, transparent);
    background-size: 60px 30px;    
}
.slider.rombes .slide{
    background:
    linear-gradient(115deg, transparent 75%, var(--bg-color-2) 75%) 0 0,
    linear-gradient(245deg, transparent 75%, var(--bg-color-2) 75%) 0 0,
    linear-gradient(115deg, transparent 75%, var(--bg-color-2) 75%) 7px -15px,
    linear-gradient(245deg, transparent 75%, var(--bg-color-2) 75%) 7px -15px,
    var(--bg-color-1);
    background-size: 15px 30px;
}
.slider.weaves .slide{
    background:
    linear-gradient(135deg, var(--bg-color-1) 21px, var(--bg-color-2) 22px, var(--bg-color-2) 24px, transparent 24px, transparent 67px, var(--bg-color-2) 67px, var(--bg-color-2) 69px, transparent 69px),
    linear-gradient(225deg, var(--bg-color-1) 21px, var(--bg-color-2) 22px, var(--bg-color-2) 24px, transparent 24px, transparent 67px, var(--bg-color-2) 67px, var(--bg-color-2) 69px, transparent 69px)0 64px;
    background-color:var(--bg-color-1);
    background-size: 64px 128px;
}
.slider.cross .slide{
    background:
    radial-gradient(circle, transparent 20%, var(--bg-color-1) 20%, var(--bg-color-1) 80%, transparent 80%, transparent),
    radial-gradient(circle, transparent 20%, var(--bg-color-1) 20%, var(--bg-color-1) 80%, transparent 80%, transparent) 50px 50px,
    linear-gradient(var(--bg-color-2) 8px, transparent 8px) 0 -4px,
    linear-gradient(90deg, var(--bg-color-2) 8px, transparent 8px) -4px 0;
    background-color: var(--bg-color-1);
    background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
}
.slider.dots .slide{
    background-image: radial-gradient(var(--bg-color-2) 15%, transparent 16%),
    radial-gradient(var(--bg-color-2) 15%, transparent 16%);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}
.slider.crossdots .slide{
    background:
    radial-gradient(var(--bg-color-2) 3px, transparent 4px),
    radial-gradient(var(--bg-color-2) 3px, transparent 4px),
    linear-gradient(var(--bg-color-1) 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, var(--bg-color-3) 75px, var(--bg-color-3) 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, var(--bg-color-3) 76px, var(--bg-color-3) 77px, transparent 78px, transparent 109px),
    var(--bg-color-1);
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}
.slider.carbon .slide{
    background:
    radial-gradient(var(--bg-color-2) 15%, transparent 16%) 0 0,
    radial-gradient(var(--bg-color-2) 15%, transparent 16%) 8px 8px,
    radial-gradient(var(--bg-color-3) 15%, transparent 20%) 0 1px,
    radial-gradient(var(--bg-color-3) 15%, transparent 20%) 8px 9px;
    background-color:var(--bg-color-1);
    background-size:16px 16px;
}
.slider.check .slide{
    background-image: linear-gradient(45deg, var(--bg-color-2) 25%, transparent 25%, transparent 75%, var(--bg-color-2) 75%, var(--bg-color-2)),
    linear-gradient(45deg, var(--bg-color-2) 25%, transparent 25%, transparent 75%, var(--bg-color-2) 75%, var(--bg-color-2));
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}
.slider.cubes .slide{
    background-image: linear-gradient(30deg, var(--bg-color-3) 12%, transparent 12.5%, transparent 87%, var(--bg-color-3) 87.5%, var(--bg-color-3)),
    linear-gradient(150deg, var(--bg-color-3) 12%, transparent 12.5%, transparent 87%, var(--bg-color-3) 87.5%, var(--bg-color-3)),
    linear-gradient(30deg, var(--bg-color-3) 12%, transparent 12.5%, transparent 87%, var(--bg-color-3) 87.5%, var(--bg-color-3)),
    linear-gradient(150deg, var(--bg-color-3) 12%, transparent 12.5%, transparent 87%, var(--bg-color-3) 87.5%, var(--bg-color-3)),
    linear-gradient(60deg, var(--bg-color-2) 25%, transparent 25.5%, transparent 75%, var(--bg-color-2) 75%, var(--bg-color-2)),
    linear-gradient(60deg, var(--bg-color-2) 25%, transparent 25.5%, transparent 75%, var(--bg-color-2) 75%, var(--bg-color-2));
    background-size:80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}
